
h1 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: white;
}

h2 {
    padding: 10px;
    font-size: 33px;
}

td {
    padding-bottom: 20px;
    margin-bottom: 20px;
}


#title {
    background: rgb(2,0,36);
    background: linear-gradient(342deg, rgba(2,0,36,1) 0%, rgba(29,29,135,1) 35%, rgba(0,202,255,1) 100%);
}

.searchBar {
    padding: 10px;
    padding-left: 15px;
}

#sBar {
    width: 204px;
}

#sBtn {
    width: 200px;
}



.container{
 float: left;
 background-color: rgba(0, 255, 255, 0.911);
 max-width: 310px;
 height: 100%;
}



#clearBtn {
    float: right;
}

main {
    float: left;
    padding-right: 200px;
}

#sideWidth {
    width: 280px;
    float: left;
    height: 100%;
}

.tableMain {
    height: 20px;
}

.borderMain {
    border: solid;
    border-color: black;
    border-width: 80%;
    padding-left: 80px;
    background-color: rgb(178, 178, 178);
}

.card {
    box-shadow: 0 4px 8px 0 rgb(175, 175, 175);
    width: 200px;
    height: 300px;
    color: white;
    background-color: rgb(0, 0, 88);
    margin: 20px;
    
}

.textContainer {
    padding: 8px;
    text-align: left;
    
}

.cardRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    
}